:root{
    font-size: 16px;
    /*
    font-family: ;
    */
    --text-primary: white;
    --text-secondary: whitesmoke;
    --bg-primary: black;
    --bg-secondary: grey;
    --neon-tone:pink;
    --neon-tone2:purple;
    --transition-speed: 400ms;
    --gradient: linear-gradient(black,white)
}
/*Maybe delete the box-sizing property here*/
body{
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}
main{
    margin-left: 5rem;
}
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: var(--bg-secondary);
}
body::-webkit-scrollbar-thumb{
    background: var(--text-secondary); 
}
/* large screens */
@media only screen and (max-width: 600px) {
    .navbar{
        width: 5rem;
        height: 100vh;
        position: fixed;
        background-color: var(--bg-secondary);
        background: var(--gradient);
        transition: width var(--transition-speed) cubic-bezier(.46,.03,.52,.96);
        overflow: scroll;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar-nav{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

    }
    .nav-item{
        width: 100%;
    }
    .nav-item:last-child{
        margin-top: auto;
    }
    .nav-link{
        display:flex;
        align-items: center;
        height: 5rem;
        color: var(--text-primary);
        text-decoration: none;
        filter: grayscale(100%) opacity(0.7);
        transition: var(--transition-speed, 600ms);
    }
    .nav-link:hover{
        filter: grayscale(0%) opacity(1);
        background: var(--bg-secondary, blue);
        color: var(--text-secondary, white);

    }
    .link-text{
        margin-left: 1rem;
    }
    .navbar:hover .link-text {
        display: block;
    }
    .logo-text{
        display: none;
        position: fixed;
        width: max-content;
    }
    .navbar:hover .logo-text{
        display: block;
        width: max-content;
        margin-left: 5rem;
    }
    .nav-link svg{
        min-width: 2rem;
        width: 2rem;
        margin: 0 1.5rem;
        transition: scale 600ms  cubic-bezier(.73,-0.44,.28,1.36) 100ms;
    }
    #ghost{
        scale: 1.5;
        transition: scale 600ms  cubic-bezier(.73,-0.44,.28,1.36);
    }
    /* icon animations*/
    .nav-link:hover svg{
        scale: 1.2;
    }
    .nav-link:hover #ghost{
        scale: 1.7;
    }
    .primary{
        fill: var(--neon-tone);
    }
    .secondary{
        fill:var(--neon-tone2);
    }
    .primary,
    .secondary{
        transition: var(--transition-speed,600ms);
    }
    #right-gear{
        transform: rotate(0deg);
        transition: transform var(--transition-speed,400ms) ease-in-out;
    } 
    .logo:hover #right-gear{
        transform: rotate(360deg) ;
        transition: 400ms ease-in-out;
    }
    #left-gear{
        transform: rotate(0deg) ;
        transition: 600ms ease-in-out;
    }
    .logo:hover #left-gear{
        transform: rotate(-360deg) ;
        transition: 600ms ease-in-out;
    }
    .logo{
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        text-align: center;
        color: var(--text-secondary);
        font-size: 1rem;
        background-color: var(--bg-secondary);
        letter-spacing: 0.3ch;
        width: 100%;
    }
}

/* small screens */
@media only screen and (min-width: 600px) {
    .navbar{
        width: 5rem;
        height: 100vh;
        position: fixed;
        background-color: var(--bg-secondary);
        background: var(--gradient);
        transition: width var(--transition-speed) cubic-bezier(.46,.03,.52,.96);
        overflow: scroll;
    }
}


